.usericon{
    border-radius: 50%;
    width: 46px;
    height: 43px;
    position: relative;
    background-color: #ebeff3;
    color: black !important;
    text-align: center;
}
.letter{
    position: relative;
    top: -9px;
    font-size: 32px;
}
