<sidebar></sidebar>
<navbar></navbar>

 <div class="main-window">
  <mat-icon class="mr-5 btn-focus-none cursor "  ngbTooltip= "Back" placement="right" routerLink="/settings">arrow_back</mat-icon>
  <div class="card border-radius-point5"  style="min-height: 50vh;">
    <div class="card-header bg-transparent border-0">
      <div class="row mb-1">
        <div class="col-md-3">
          <div class="input-group input-group-flush  border-radius-point5">
            <input type="text" class="form-control point-8" [formControl]="filter" placeholder="Search"   aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3" *ngIf="addbutton">
          <button type="button"class="btn btn-sm fullscreenbtn bg-theme text-white shadow mt-2 btn-focus-none float-right point-9"
          data-toggle="modal" data-target="#mapper" (click)="cleardata();popup_title='Add Mapper'"><i class="fas fa-plus"></i> Add Mapping </button>
        </div>
      </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover" matSort>
          <thead class="point-8 cursor">
            <tr>
              <th scope="col" matColumnDef="sf_plant_name" mat-sort-header>Plant Name</th>
              <th scope="col" matColumnDef="sf_work_centre_name" mat-sort-header>WorkCenter Name</th>
              <th scope="col" matColumnDef="sf_asset_code" mat-sort-header>Asset Code</th>
              <th scope="col" matColumnDef="sf_device_name" mat-sort-header>Device Name</th>
              <th scope="col" matColumnDef="action" mat-sort-header>Action</th>
            </tr>
          </thead>
          <tbody class="point-8">
              <tr *ngFor="let mappers of obs | async">
                <td>
                  <ngb-highlight [result]="mappers.sf_plant_name" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="mappers.sf_work_centre_name " [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="mappers.sf_asset_code " [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="mappers.sf_device_name " [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                <span class="cursor" ngbTooltip="Edit" *ngIf="authService.currentUser['role_id'] == 1" data-toggle="modal" data-target="#mapper" (click)="getmappinginfo(mappers);popup_title='Edit Mapper'" ><i class="far fa-edit text-theme"></i></span>
                <span class="cursor" ngbTooltip="View"  *ngIf="authService.currentUser['role_id'] == 2 || authService.currentUser['role_id'] == 'MV1001' ||authService.currentUser['role_id'] == 'PA1001'||authService.currentUser['role_id'] == 'PV1001'" data-toggle="modal" data-target="#mapper" (click)="getmappinginfo(mappers)" ><i class="fas fa-eye fa-lg text-theme"></i></span>


              </td>
            </tr>

          </tbody>

        </table>
        <div class="d-flex justify-content-center flex-wrap mt-5" *ngIf="internalError">
          <small class="point-8 "> <i class="fas fa-exclamation-triangle text-warning mr-1"></i> Unable to process your request please try after some time !!</small>
        </div>


        <div class="text-center mt-5" *ngIf="no_mappers">
          <p><i class="fas fa-grip-horizontal mr-1 fa-3x opacity-point-3"></i></p>
          <small class="point-8 "> No assets available to display !!</small>
        </div>


        <div class="d-flex justify-content-center mt-5 "  *ngIf="spinner">
          <ngx-skeleton-loader class = "w-100"  count="5" animation = "pulse"
              [theme]="{'border-radius': '5px', height: '50px', 'animation-duration': '2s' }" >
        </ngx-skeleton-loader>
        </div>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]" *ngIf="mappers.length !=0"></mat-paginator>

      </div>
  </div>
</div>


 <!-- side panel  for Add and Edit Mapper-->
<div class="modal left fade" id="mapper" tabindex="" role="dialog" aria-labelledby="mapperLabel" aria-hidden="true">
  <div class="modal-dialog modal_general_popup" role="document">
    <button type="button" class="btn text-white modal-close-btn cursor bg-sidebar" data-dismiss="modal"><span class="cursor"
        aria-hidden="true">&times;</span></button>
    <div class="modal-content">
      <div class="modal-header bg-white">
        <h5 class="modal-title" *ngIf="authService.currentUser['role_id'] == 1">{{popup_title}}</h5>
        <h5 class="modal-title" *ngIf="authService.currentUser['role_id'] == 2 || authService.currentUser['role_id'] == 'MV1001' ||authService.currentUser['role_id'] == 'PA1001'||authService.currentUser['role_id'] == 'PV1001'">View Mapper</h5>
      </div>

      <div class="modal-body" style="overflow-y: auto;">

          <!-- Plants dropdown -->
          <mat-form-field appearance="outline" class="w-100 point-8" >
            <mat-label>Choose a plant</mat-label>
            <mat-select [formControl]="plant" required>
              <mat-option *ngFor="let plant of plants" [value]="plant.sf_plant_id" (click)="getplantWorkcenters(plant.sf_plant_id)">
                {{plant.sf_plant_name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="plant.invalid">{{PlantMessages()}}</mat-error>
          </mat-form-field>

        <!-- workcenter -->
        <mat-form-field appearance="outline" class="w-100 point-8">
          <mat-label *ngIf="plant_workcenters.length != 0">Choose a work center</mat-label>
          <mat-label *ngIf="plant_workcenters.length == 0">No work center available</mat-label>
          <mat-select [formControl]="work_center" required>
            <mat-option  *ngFor="let workcenter of plant_workcenters" [value]="workcenter.sf_work_centre_id" (click)="getAssets(workcenter.sf_work_centre_id)">
              {{workcenter.sf_work_centre_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="work_center.invalid">{{WCMessages()}}</mat-error>
        </mat-form-field>

        <!-- assets -->
        <mat-form-field appearance="outline" class="w-100 point-8">
          <mat-label *ngIf="assets_list.length != 0">Choose a asset</mat-label>
          <mat-label *ngIf="assets_list.length == 0">No assets available</mat-label>
          <mat-select [formControl]="assets" required>
            <mat-option *ngFor="let asset of assets_list" [value]="asset.sf_asset_id" (click)="getTenantdevices()">
              {{asset.sf_asset_code}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="assets.invalid">{{AssetsMessages()}}</mat-error>
        </mat-form-field>

      <!-- device list code -->
      <mat-form-field appearance="outline" class="w-100 point-8">
        <mat-label *ngIf="devces.length != 0">Choose a device</mat-label>
        <mat-label *ngIf="devces.length == 0">No device available</mat-label>

        <mat-select  [formControl]="devices" required>
        <mat-option   *ngFor="let device of devces" [value]="device.sf_device_id">
          {{device.sf_device_name}}
        </mat-option>
      </mat-select>
        <mat-error *ngIf="devices.invalid">{{DevicesErrorMessages()}}</mat-error>
      </mat-form-field>

      <!-- Mapping Name -->
      <mat-form-field  appearance="outline" class="w-100 point-8">
        <mat-label>Mapping Name</mat-label>
        <input matInput  maxlength="40" [formControl]="mapping_name" required>
        <mat-error *ngIf="mapping_name.invalid">{{MappingErrorMessages()}}</mat-error>
      </mat-form-field>

    <!-- Description -->
    <mat-form-field  appearance="outline" class="w-100 point-8">
      <mat-label>Description</mat-label>
      <input matInput maxlength="40" [formControl]="description" id="auto_trigger"  required>
      <mat-error *ngIf="description.invalid">{{DescErrorMessages()}}</mat-error>
    </mat-form-field>



      </div>
      <div class="modal-footer footer_btn w-100" *ngIf="popup_title== 'Add Mapper' " >
          <button type="button" class="btn btn-sm float-right shadow text-white bg-theme btn-clear point-9 mr-1" (click)="cleardata()"><i class="fas fa-undo" ></i> Clear</button>
          <button type="submit" class="btn btn-sm float-right shadow text-white bg-theme btn-save point-9 mr-1" (click)="savemapping()"><i class="far fa-check-circle"></i>  Submit</button>
    </div>
    <div class="modal-footer footer_btn  w-100" *ngIf="popup_title== 'Edit Mapper' " >
      <button type="button" class="btn btn-sm float-right shadow text-white bg-theme btn-delete point-9 mr-1" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal"> <i class="fas fa-trash-alt"></i> Delete</button>
      <button type="submit" class="btn btn-sm float-right shadow text-white bg-theme btn-save point-9 mr-1"(click)="upadatemapping();"><i class="far fa-check-circle"></i>  Update</button>
  </div>
  <div class="modal-footer footer_btn w-100">
    <button type="button" class="btn btn-sm float-right shadow text-white bg-theme btn-save point-9 mr-1" data-dismiss="modal" *ngIf="authService.currentUser['role_id'] == 2 || authService.currentUser['role_id'] == 'MV1001' ||authService.currentUser['role_id'] == 'PA1001'||authService.currentUser['role_id'] == 'PV1001'" ><i class="fas fa-times"></i> Close</button>
 </div>
  </div>
</div>
</div>


<!-- Delete device deployment Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content border-radius-point5">
      <div class="modal-header bg-white">
        <h6 class="modal-title" id="exampleModalLongTitle">Delete</h6>
        <button type="button" class="close" data-dismiss="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body point-9">
        Are you sure to delete <span class="text-danger">{{mapper_name}}</span> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm shadow text-white bg-theme btn-delete-yes point-8" data-dismiss="modal" (click)="deleteMapper();" ><i class="fas fa-check"></i> Yes</button>
        <button type="button" class="btn btn-sm shadow text-white bg-theme btn-delete-no point-8" data-dismiss="modal" data-toggle="modal" data-target="#mapper"><i class="fas fa-times"></i> No</button>
      </div>
    </div>
  </div>
</div>
