.one2-point{
  font-size: 1.2em;
}
.one1-point{
  font-size: 1.1em;
}
.one2-point{
  font-size: 1.4em;
}

.one-point{
    font-size: 1.0em;
}

.point-9{
 font-size: 0.9em;
}

.point-8{
  font-size: 0.8em;
 }

 .point-7{
  font-size: 0.7em;
 }

 .point-6{
  font-size: 0.6em;
 }

 .ul-font li{
  font-size: 0.8em;
 }
