.ht-40{
  height: 40px !important;
}

.ht-vh-30{
  min-height: 30vh !important;
}

.ht-vh-50{
  min-height: 50vh !important;
}

.mt-minus-5{
  margin-top: -5px !important;
}

.mt-90{
  margin-top: 10px !important;
}

.mt-100{
  margin-top: 100px !important;
}

.mt-ninet{
  margin-top: 90px !important;
}

.mt-55px{
  margin-top: 55px !important;
}
.mt-10px{
  margin-top: 10px !important;
}

.min-card-h40{
  min-height: 200px!important;
}

.minh-130{
  min-height: 130px !important;
}

.min-h-90{
  min-height: 90px !important;
}