<div class="container-fluid maincontainer">
  <div class="row" style="height: 100vh">
    <!-- First Half -->
    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-1 order-lg-1 order-md-2 order-sm-2 order-xs-2
        p-0 info_area overlay">
      <div class="content">
        <div class="card bg-transparent border-0 h-100">
          <div class="card-body">
            <div style="margin-top: 145px">
              <h3 class="text-white font-weight-bold ml-3 mb-5">
                Adopt Digital; Optimize Factory Performance!
              </h3>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; Workorder
                    Management
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; Job
                    Management
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp;
                    Performance Monitoring
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; Machine
                    Monitoring
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; Downtime
                    Alert
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; Preventive
                    Maintenance
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; OEE and
                    OOE Metrics
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; Realtime
                    Monitoring with IoT
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp;
                    Maintenance Recorder
                  </p>
                  <p class="text-white truncating ml-3 point-9 mb-3">
                    <span><i class="fas fa-spinner"></i></span>&nbsp; User
                    Management
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-white footerLogo point-8">
        <span class="ml-3 text-white"
          >With <i class="fas fa-heart text-danger"></i> from
        </span>
        <span class="ml-1">
          <a target="_blank" href="https://factana.com/" class="text-white font-weight-bold">
            Factana
          </a>
        </span>
      </div>
    </div>

    <!-- Second Half -->

    <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-first order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1
        bg-white login_area text-center">
      <div class="card bg-transparent border-0">
        <div class="card-header bg-transparent border-0" style="margin-top: 145px">
          <img [src]="img_logo_color" width="240" alt="SFactrix" />
        </div>

        <ng-template [ngIf]="account_active" >
        <div class="card-body">
          <div
            class="card-header bg-transparent border-0 d-flex justify-content-center">
            <h2 class="text-success">{{ message_text }}</h2>
          </div>
        </div> 
        </ng-template>
        <ng-template [ngIf]="no_account_active" >
        <div class="card-body" >
          <div
            class="card-header bg-transparent border-0 d-flex justify-content-center">
            <h2 class="text-danger">
              Unable to process your request please try after some time!!
            </h2>
          </div>
        </div>
        </ng-template>
        <div class="align-items-center d-flex justify-content-center mt-3">
          <button type="button" class="btn bg-theme text-white float-center" routerLink="/">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
