<div class="container-fluid maincontainer">
  <div class="row" style="height: 100vh;">
   <!-- First Half -->
   <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-1 order-lg-1 order-md-2 order-sm-2 order-xs-2 p-0  info_area overlay">
    <main-left-content></main-left-content>
    </div>
   <!-- Second Half -->
   <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-first order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 bg-white login_area text-center ">
      <div class="card bg-transparent border-0">
             <div class="card-header bg-transparent border-0" style="margin-top: 145px;">
              <img [src]="img_logo_color" width="240" alt="SFactrix">
              <p class="mt-5 point-8">Enter your mail address, we will send instructions to your mail to reset the password !!</p>
             </div>
             <div class="card-body mt-n3 px-5">
              <mat-form-field appearance="outline"  class=" w-100 point-8" >
                <mat-label>Email</mat-label>
                <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                      placeholder="Ex. pat@example.com" required *ngIf="mail_success">
                <input matInput  value="*******************" *ngIf="!mail_success" disabled>

                  <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <button type="button" class="btn float-right shadow bg-theme2 text-white" (click)="generateOTP()" *ngIf="mail_success"   >Submit</button>
              <button type="button" class="btn shadow bg-theme2 float-left text-white" *ngIf="mail_success" routerLink="/"   >Back</button>

            <div *ngIf="!mail_success" >
              <mat-form-field appearance="outline" class="float-left  mr-5 point-8" [class.w-100] = "isOTPEnabled"  [class.w-90] = "!isOTPEnabled">
                <mat-label>OTP</mat-label>
                <input matInput   [formControl]="otpFormControl"   type="password" *ngIf="isOTPEnabled">
                <input matInput value="*********" disabled *ngIf="!isOTPEnabled">
              </mat-form-field>

              <button type="button" class="btn mt-2 float-right text-white bg-theme2" (click)="verifyOTP()" *ngIf="isOTPEnabled"   >Verify</button>
              <button type="button" class="btn btn-success mt-2"  *ngIf="!isOTPEnabled" disabled>verified</button>
            </div>

            <form (ngSubmit)="updatepassword(new_psw_creation.value)" #new_psw_creation="ngForm"  *ngIf="(!mail_success && !isOTPEnabled)">
              <mat-form-field appearance="outline" class="w-100 float-left  mr-3 point-8">
                <mat-label>New Password</mat-label>
                <input matInput  name="new_password"  [(ngModel)]="new_password"  type="password" required  *ngIf="!psw_success">
                <input matInput  name="new_password"  value="***************************" disabled  *ngIf="psw_success">
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 float-left  mr-3 point-8">
                <mat-label>Confirm Password</mat-label>
                <input matInput  name="confirm_password"  [(ngModel)]="confirm_password" required  *ngIf="!psw_success">
                <input matInput  name="confirm_password"  value="***************************" disabled  *ngIf="psw_success">
              </mat-form-field>
              <small class="form-text text-muted float-left">
                Password must have (A-Z, a-z, 0-9,  ~!@#$%^&*()_-+=) with minimum 8 characters in length.
              </small>
              <button type="submit" class="btn mt-2 float-right text-white bg-theme2" *ngIf="!psw_success"   >Submit</button>
              <button type="button" class="btn mt-2 float-right text-white bg-theme2"  *ngIf="psw_success" routerLink="/"   >Login</button>
          </form>
             </div>
      </div>
   </div>
 </div>
 </div>

